<div class="container">
    <div class="row heading-row">
      <div class="col-xs-4">
        <%= image_tag "cfa_logo.png", class: "heading-image" %>
      </div>
      <div class="col-xs-4">
        <center><h1 class="text-center title">Code to Win</h1></center>
      </div>
      <div class="col-xs-4">
        <center><%= image_tag "asus_logo.png", class: "heading-image" %></center>
      </div>
    </div>
  <div class="row">
    <br>
    <div class="col-xs-6">
      <div class="row">
        <h1>How to Play</h1>
        <ol class="instr">
          <li>Enter the correct code to move the ball to the star (from the code options below). </li>
          <br>
          <li>Replace the (x) with the number of boxes you want to move - moveRight(3) will move the ball right 3 spaces.</li>
          <br>
          <li>Seperate each piece of code with a comma (you will need 6 pieces of code seperated by commas to be successful).</li>
          <br>
        </ol>
      </div>
      <div class="row">
        <h3>Code Options</h3>
        <ul>
          <div class="col-xs-6">
            <li class="lead">moveRight(x)</li>
            <li class="lead">moveLeft(x)</li>
          </div>
          <div class="col-xs-6">
            <li class="lead">moveUp(x)</li>
            <li class="lead">moveDown(x)</li>
          </div>
        </ul>
      </div>
      <textarea id="attempt-box" rows="4" cols="70" class="form-control" onkeypress="return runScript(event)"></textarea>
      <br>
      <button class="bnt btn-success lead btn-block" id="run-btn">Run</button>
      <button class="bnt btn-warning lead btn-block" id="reset-btn">Reset</button>
    </div>
  </div>
<a href="#" onclick="openTC()">Terms & Conditions</a>
</div>

<%= image_tag "ASUS_Grid.png", id: :grid %>
<%= image_tag "Bottom_Grid.png", id: :bottom_barrier %>
<%= image_tag "Middle_Grid.png", id: :middle_barrier %>
<%= image_tag "Top_Grid.png", id: :top_barrier %>
<%= image_tag "Right_Grid.png", id: :right_barrier %>
<%= image_tag "star.png", id: :star %>
<%= image_tag "ball.png", id: :ball %>

<%= render 'game/modal' %>
<%= render 'game/modal2' %>
<%= render 'game/tc_modal' %>
